/* .switch{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
    margin: 0 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input {display: none}

.switch :before{
    position:absolute;
    content: "";
    height: 50px;
    width: 50px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: blue;
}

input:checked + .slider:before{
    transform: translateX(50px);
} */

.toggle{
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 50px;
    background: #ccc;
    border-radius: 30px;
    transition: 0.4s;
}

.toggle .toggle-button{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 125px;
    height: 40px;
    background: orange;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s;
}

.toggle.active{
    background-color: cornflowerblue;
}

.toggle.active .toggle-button{
    left: 120px;

}

.text{
    position: absolute;
    top: 5px;
    left: 95px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 45px;
}